<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <div class="menu">
        <a href="/profile"><img draggable="false" class="logo"
                src="https://cdn1.iconfinder.com/data/icons/logotypes/32/pinterest-512.png"></a>
        <a href="/profile" class="home">Home<img class="icon-down" src="https://i.hizliresim.com/g15mqud.png"></a>
        <a href="#" class="explore">Explore</a>
        <a href="#" class="create">Create</a>
        <input id="one" type="text" class="search-bar" placeholder="Search">
        <button id="two" class="search-bar"></button>
        <div class="icon-container">
            <img tabindex="1" draggable="false" class="icon bell" src="https://i.hizliresim.com/rcvolcu.png">

            <img tabindex="1" draggable="false" class="icon message" src="https://i.hizliresim.com/newumah.png">

            <a tabindex="1" draggable="false" class="icon pp" href="/main-profile">
                <img src="/images/profile-pic.png"></a>

            <img tabindex="1" draggable="false" class="icon btn" src="https://i.hizliresim.com/g15mqud.png">

            <!----FOCUS----->
            <div tabindex="1" class="focus-bar bell-bar"></div>
            <!-------------------->
            <div tabindex="1" class="focus-bar message-bar"></div>
            <!-------------------->
            <div tabindex="1" class="focus-bar pp-bar">
            </div>
            <!-------------------->
            <div tabindex="1" class="focus-bar btn-bar">
                <img src="/images/profile-pic.png">
                <div class="username">@<%= user.username %>
                </div>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <!--------------------------->
    <div class="responsive-search-bar">
        <input type="text">
        <p class="close">❌</p>
    </div>
    <!--------------------------->
    <div class="container">
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/001.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/002.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/003.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/029.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/005.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/006.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/007.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/008.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/009.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/010.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/011.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/012.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/013.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/014.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/015.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/016.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/019.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/020.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/021.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/022.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/023.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/024.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/025.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/026.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/027.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/030.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/031.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="window">
            <img class="foto" src="https://gallery1.charleskdesigns.com/image/032.jpg">
            <div class="hover-zone">
                <div class="top-bar">
                    <a>Save</a>
                </div>
                <div class="bottom-bar">
                    <a>↗ website.com</a>
                    <div class="radius-ico">
                        <img src="https://cdn3.iconfinder.com/data/icons/iconset-1-1/24/icon_set_outlinder-10-256.png">
                        <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/home.js"></script>
</body>

</html>